@page "/profile"
@*Lavet af Jozsef*@

@using ElevPortalen.Pages.MessageBox
@using ElevPortalen.Pages.UpdateProfileModal
@using ElevPortalen.Services;
@using ElevPortalen.Data;
@using ElevPortalen.Models;
@using System.Security.Claims

@inject StudentService _studentService
@inject CompanyService _companyService
@inject SkillService _skillService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager
@inject IJSRuntime jsRuntime

<div class="container p-4">
    <!--Autorizeview for Student and Company -->
    <AuthorizeView Roles="Student,Company,Admin">
        <Authorized>
            @if (_studentList.Any())
            {
                @foreach (var data in _studentList)
                {
                    <!--Social container on top-->
                    <div class="row">
                        <h3>@data.FirstName's Profile</h3>
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body shadow-sm">
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="mx-2" style="color: black">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="mx-2" style="color: black">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="mx-2" style="color: black">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="mx-2" style="color: black">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--User profile container-->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body text-center">
                                    @if (data.profileImage != "")
                                    {
                                        <img src="images/ProfileImages/@data.profileImage" alt="avatar"
                                             class="rounded-circle img-fluid" style="width: 150px; height:150px;">
                                    }
                                    else
                                    {
                                        <img src="images/DefaultAvatar.jpg" alt="avatar"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                    }
                                    <h5 class="my-3">@data.FirstName @data.LastName</h5>
                                    <p class="text-muted mb-4">Specialiseret i @data.Speciality</p>
                                    @*                                     <p class="text-muted mb-4">@data.Address</p> *@
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="button" class="btn btn-outline-success"
                                                @onclick="() => DialogModal!.OpenStudentUpdate(data.StudentId)">
                                            Opdater Profil
                                        </button>
                                        <button type="button" class="btn btn-outline-danger ms-1"
                                                @onclick="() => DeleteStudentData(data.StudentId)" disabled="@(!isConfirmationChecked)">
                                            Slette profil
                                        </button>
                                    </div>
                                    <div class="row-lg-4 gx-3 mb-3">
                                        <input class="form-check-input" type="checkbox" @bind="isConfirmationChecked">
                                        <label class="form-check-label">
                                            Bekræft Slet
                                        </label>
                                    </div>
                                    <span style="color:red" hidden="@(!isConfirmationChecked)">
                                        Dette vil slette dine personale data og kan ikke fortrydes!
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body shadow-sm">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Username</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@_Name</p>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Title</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@data.Title</p>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <p class="mb-0">Fulde navn</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">
                                                @data.FirstName <span> </span>
                                                @if (data.MiddleName != "")
                                                {
                                                    @data.MiddleName <span> </span>
                                                }
                                                @data.LastName
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Mobile</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@data.PhoneNumber</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Adresse</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@data.Address</p>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Beskrivelse</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@data.Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Skills section -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body shadow-sm">
                                    <h3>Skills:</h3>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!--Show skill names section-->
                                            @if (!isAddSectionVisible && !isUpdateSectionVisible)
                                            {
                                                @if (data != null && data.Skills != null)
                                                {
                                                    <div class="col-lg-12">
                                                        <!--display the names of the skills in a single row-->
                                                        <h5>
                                                            @foreach (var skillName in _SkillsOfStudent)
                                                            {
                                                                <span class="badge bg-dark m-1">@skillName</span>
                                                            }
                                                        </h5>
                                                    </div>
                                                    <button class="btn btn-outline-success" @onclick="() => ToggleUpdateSkillsSection(data.StudentId)">Opdater</button>
                                                }
                                                else
                                                {
                                                    <p>Ingen tilgængelige færdigheder, du kan tilføje dine færdigheder.</p>
                                                    <button class="btn btn-outline-success" @onclick="ToggleAddSkillsSection">Tilføj</button>
                                                }
                                            }
                                            else if(isAddSectionVisible)
                                            {

                                                <!--Skills Add section-->
                                                <div class="row">
                                                    <label class="mb-1 form-label fw-bold" for="_Skills">Færdigheder</label>
                                                    <div class="col-md-3 mb-2">
                                                        <label class="mb-1 small form-label fw-bold" for="_Skills">Programmeringssprog</label>

                                                        <div class="row">
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.CSharp" /> C#
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Java" /> Java
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.DotNet" /> .Net
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Typescript" /> TypeScript
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Python" /> Python
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <div class="row">
                                                            <label class="mt-4">
                                                                <input type="checkbox" @bind="_Skills.PHP" /> PHP
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.CPlusPlus" /> C++
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.C" /> C
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Blazor" /> Blazor
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.JavaScript" /> JavaScript
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label class="mb-1 small form-label fw-bold" for="_Skills">Web-Udvikling</label>

                                                        <div class="row">
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Bootstrap" /> Bootstrap
                                                            </label>

                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.HTML" /> Html
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.CSS" /> CSS
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.SQL" /> SQL
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.NetWork" /> Network
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <label class="mb-1 small form-label fw-bold" for="_Skills">Andet</label>

                                                        <div class="row">
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.OfficePack" /> Office pakken
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.CloudComputing" /> Cloud technologies
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.VersionControl" /> Git / GitHub
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Communikation" /> Kommunikation
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.ProblemSolving" /> Problemsolving
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.TeamWorking" /> Team work
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="btn btn-outline-success" @onclick="() => AddSkills(data.StudentId)">Gem</button>
                                                <button class="btn btn-outline-danger" @onclick="ToggleAddSkillsSection">Tilbage</button>
                                            }
                                            else
                                            {
                                                <!--Skills update section-->
                                                    <div class="row">
                                                        <label class="mb-1 form-label fw-bold" for="_Skills">Færdigheder</label>
                                                        <div class="col-md-3 mb-2">
                                                            <label class="mb-1 small form-label fw-bold" for="_Skills">Programmeringssprog</label>

                                                            <div class="row">
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.CSharp" /> C#
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.Java" /> Java
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.DotNet" /> .Net
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.Typescript" /> TypeScript
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.Python" /> Python
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                            <div class="row">
                                                                <label class="mt-4">
                                                                <input type="checkbox" @bind="_Skills.PHP" /> PHP
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.CPlusPlus" /> C++
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.C" /> C
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.Blazor" /> Blazor
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.JavaScript" /> JavaScript
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <label class="mb-1 small form-label fw-bold" for="_Skills">Web-Udvikling</label>

                                                            <div class="row">
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.Bootstrap" /> Bootstrap
                                                                </label>

                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.HTML" /> Html
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.CSS" /> CSS
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.SQL" /> SQL
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.NetWork" /> Network
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                            <label class="mb-1 small form-label fw-bold" for="_Skills">Andet</label>

                                                            <div class="row">
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.OfficePack" /> Office pakken
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.CloudComputing" /> Cloud technologies
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.VersionControl" /> Git / GitHub
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.Communikation" /> Kommunikation
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.ProblemSolving" /> Problemsolving
                                                                </label>
                                                                <label>
                                                                <input type="checkbox" @bind="_Skills.TeamWorking" /> Team work
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                                                       
                                                <button class="btn btn-outline-success" @onclick="() => UpdateSkills(data.StudentId)">Opdater</button>
                                                <button class="btn btn-outline-danger" @onclick="HideUpdateSection">Tilbage</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
            else if (_companyList.Any())
            {
                @foreach (var data in _companyList)
                {

                    <!--Social container on top-->
                    <div class="row">
                        <h3>@data.CompanyName's Profile</h3>
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body shadow">
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="mx-2" style="color: black">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="mx-2" style="color: black">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="mx-2" style="color: black">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="mx-2" style="color: black">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center shadow">
                                    @if (data.profileImage != "")
                                    {
                                        <img src="images/ProfileImages/@data.profileImage" alt="avatar"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                    }
                                    else
                                    {
                                        <img src="images/DefaultAvatar.jpg" alt="avatar"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                    }
                                    <h5 class="my-3">@data.CompanyName</h5>
                                    <p class="text-muted mb-4">@data.CompanyAddress</p>
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="button" class="btn btn-outline-success"
                                                @onclick="() => DialogModal!.OpenCompanyUpdate(data.CompanyId)">
                                           Opdater Profil
                                        </button>
                                        <button type="button" class="btn btn-outline-danger ms-1"
                                                @onclick="() => DeleteCompanyData(data.CompanyId)" disabled="@(!isConfirmationChecked)">
                                            Slette Profil
                                        </button>
                                    </div>
                                    <div class="row-lg-4 gx-3 mb-3">
                                        <input class="form-check-input" type="checkbox" @bind="isConfirmationChecked">
                                        <label class="form-check-label">
                                            Bekræft Slet
                                        </label>
                                    </div>
                                    <span style="color:red" hidden="@(!isConfirmationChecked)">
                                        Dette vil slette dine personale data og kan ikke fortrydes!
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body shadow">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Dato for registrering</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@data.RegisteredDate.ToString("dd, MMMM, yyyy")</p>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Username</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@_Name</p>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Region</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">
                                                @data.Region
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">
                                                @data.Email
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Website</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">
                                                <button class="btn btn-outline-info" @onclick="NavigateToNewTab">Open Link on new tab</button>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Phone</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@data.PhoneNumber</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Leder efter</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">
                                                @data.Preferences
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Beskrivelse</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@data.Description</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Søger Elev</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">
                                                @if (data.IsHiring)
                                                {
                                                    <span>Ja</span>
                                                }
                                                else
                                                {
                                                    <span>Nej</span>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Synlig profil</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">
                                                @if (data.IsVisible)
                                                {
                                                    <span>Ja</span>
                                                }
                                                else
                                                {
                                                    <span>Nej</span>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>
                    @if (_authState.User.IsInRole(Student) || _authState.User.IsInRole(Company))
                    {
                        Message = "Det ser ud til, at ingen personlige data er blevet tilføjet til din profil, klik på knappen for at registrere dine data.";
                        @Message
                    }
                    else
                    {
                        Message = "Du har ingen rolle tildelt!";
                        @Message
                    }
                </p>
                <br>
                <button class="btn btn-success m-2" @onclick="NavigateToRegister">Go Register Your Data</button>
                ;
                <br />

                @if (hasStudentRecoveryData)
                {
                    <button class="btn btn-success m-2" @onclick="RecoverStudentData">Recover Your Data</button>
               @*      <p>The Student's Guid is : @userIdClaim</p> *@

                }
                else if (hasCompanyRecoveryData)
                {
                    <button class="btn btn-success m-2" @onclick="RecoverCompanyData">Data recovery available</button>
                   @*  <p>The Company's Guid is : @userIdClaim</p> *@
                }

            }

            <!-- DialogModal for update view -->
            <UpdateModalDialog @ref="DialogModal" StudentId="@StudentId" OnClose="ReRenderPage"></UpdateModalDialog>

        </Authorized>

        <!-- Not authorized view -->
        <NotAuthorized>
            Message = "Log ind først.";
            <label>@Message</label>
        </NotAuthorized>

    </AuthorizeView>
</div>


@code {

    #region private fields within the scope of the class
    private AuthenticationState? _authState;
    private ClaimsPrincipal? _user;
    private List<StudentModel> _studentList = new List<StudentModel>();
    private List<CompanyModel> _companyList = new List<CompanyModel>();
    private SkillModel _Skills = new SkillModel();
    private List<string> _SkillsOfStudent = new List<string>();

    private UpdateModalDialog? DialogModal { get; set; }

    private bool isAuthenticated = false;
    private bool isConfirmationChecked = false;
    private bool isAddSectionVisible = false;
    private bool isUpdateSectionVisible = false;

    private string Company = "Company";
    private string Student = "Student";
    private string Message = "";
    private string _Name = "Default";
    private string _registeredDate = "";

    private string BackgroundColor = "rgba(50, 50, 50,0.8)";
    private string textColor = "white";

    // The StudentId
    private int StudentId { get; set; }
    private bool hasStudentRecoveryData = false;
    private bool hasCompanyRecoveryData = false;
    private string userIdClaim = "";
    #endregion

    #region OnInitialize
    protected override async Task OnInitializedAsync()
    {
        // Getting the user current authentication state.
        _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (_authState != null)
        {
            if (_authState.User.Identity?.IsAuthenticated == true && _authState != null && _authState.User != null)
            {
                _user = _authState.User;
                // If authenticated set the bool to true zhan read the users data from the data table with the help of ReadData function
                isAuthenticated = true;
                _Name = _user.Identity.Name!.ToString();
                await ReadData(); //Read profile data

                //Read skills data connected to the profile 
                await GetSkills(_studentList);

            }
            else
            {
                isAuthenticated = false;
            }
        }
    }
    #endregion

    #region Reading the data from the database with the user claims
    public async Task ReadData()
    {
        if (_authState != null && _authState.User != null)
        {
            //Authenticating the user
            _user = _authState.User;

            if (_authState.User.IsInRole(Student)) // If the role is Student
            {
                //Getting the data with the service call from student
                await GetStudentData(_user);

                if (_studentList.Any() == false || _studentList == null)
                {
                    await CheckIfStudentHasDataToRecover(_user);
                }
            }
            else if (_authState.User.IsInRole(Company)) // If the role is Company
            {
                //Getting the data with the service call from company
                await GetCompanyData(_user);

                if (_companyList.Any() == false || _companyList == null)
                {
                    await CheckIfCompanyHasDataToRecover(_user);
                }
            }
            else
            {
                Message = $"You Have No Role Assigned - Could not read data.";
            }
        }
    }
    #endregion

    #region Getting the data with the service call from student
    private async Task GetStudentData(ClaimsPrincipal _user)
    {
        _studentList = await _studentService.ReadData(_user);
    }
    #endregion

    #region Getting the skill Name to List (string)
    private async Task GetSkills(List<StudentModel> data)
    {
        foreach (var studentData in _studentList)
        {
            _SkillsOfStudent = await _skillService.GetSkills(studentData);
        }
    }
    #endregion

    #region Getting the data with the service call from company
    private async Task GetCompanyData(ClaimsPrincipal _user)
    {
        _companyList = await _companyService.ReadData(_user);
    }
    #endregion

    #region Checking is student has recovery data if nothing exist in their profile
    private async Task CheckIfStudentHasDataToRecover(ClaimsPrincipal _user)
    {
        if (_studentList.Any() == false || _studentList == null)
        {
            userIdClaim = _user.Claims.FirstOrDefault()!.Value;
            if (userIdClaim != null && Guid.TryParse(userIdClaim, out Guid userIdGuid))
            {
                bool recoveryDataExists = await _studentService.CheckRecoveryDataExist(userIdGuid);
                hasStudentRecoveryData = recoveryDataExists;
            }
        }
    }
    #endregion

    #region Checking is company has recovery data if nothing exist in their profile
    private async Task CheckIfCompanyHasDataToRecover(ClaimsPrincipal _user)
    {
        if (_companyList.Any() == false || _companyList == null)
        {
            userIdClaim = _user.Claims.FirstOrDefault()!.Value;
            if (userIdClaim != null && Guid.TryParse(userIdClaim, out Guid userIdGuid))
            {
                bool recoveryDataExists = await _companyService.CheckRecoveryDataExist(userIdGuid);
                hasCompanyRecoveryData = recoveryDataExists;
            }
        }
    }
    #endregion

    #region navigation to register pages
    private void NavigateToRegister()
    {
        if (_authState != null && _authState.User != null)
        {
            // If the user signed in and have no data in its data table
            if (_authState.User.IsInRole(Company))  // If the user role is Company
            {
                NavManager.NavigateTo("/registerprofile"); // Route to the company registration page
            }
            else if (_authState.User.IsInRole(Student)) // If the role is Student
            {
                NavManager.NavigateTo("/registerprofile"); // Route to the student registration page
            }
        }
    }
    #endregion

    #region Delete function calls for student and company
    private async Task DeleteStudentData(int id)
    {
        if (isConfirmationChecked)
        {
            await _skillService.DeleteSkills(id);
            await _studentService.Delete(id);
            NavManager.NavigateTo("/");
        }
    }

    private async Task DeleteCompanyData(int id)
    {
        if (isConfirmationChecked)
        {
            await _companyService.Delete(id);
            NavManager.NavigateTo("/");
        }
    }
    #endregion

    #region Re-RenderPage function for re-renderint the profile page on change
    private async void ReRenderPage()
    {
        await ReadData();
        StateHasChanged();
    }
    #endregion

    #region Navigate to company website Link with opening new window
    public async Task NavigateToNewTab()
    {
        string url = "https://" + _companyList[0].Link;
        await jsRuntime.InvokeVoidAsync("open", url, "_blank");
    }
    #endregion

    #region Recover Student Data with their Guid
    private async Task RecoverStudentData()
    {
        if (userIdClaim != null && Guid.TryParse(userIdClaim, out Guid userIdGuid))
        {
            await _studentService.RecoverStudentData(userIdGuid);
            await OnInitializedAsync();
        }
    }
    #endregion

    #region Recover Companyt Data with their Guid
    private async Task RecoverCompanyData()
    {
        if (userIdClaim != null && Guid.TryParse(userIdClaim, out Guid userIdGuid))
        {
            await _companyService.RecoverCompanyData(userIdGuid);
            await OnInitializedAsync();
        }
    }
    #endregion

    #region Toggle Button For Add Section
    void ToggleAddSkillsSection()
    {
        isAddSectionVisible = !isAddSectionVisible;
    }
    #endregion

    #region Toggle button for Update section
    private async Task ToggleUpdateSkillsSection(int id)
    {
        isUpdateSectionVisible = true;
        _Skills = await _skillService.GetSkillsByStudentId(id);
    }
    #endregion

    #region Toggle For The Update Section
    void HideUpdateSection()
    {
        isUpdateSectionVisible = !isUpdateSectionVisible;
    }
    #endregion

    #region Add Skills Function
    private async Task AddSkills(int studentId)
    {
        var result = await _skillService.CreateSkills(studentId, _Skills);
        await OnInitializedAsync();
        isAddSectionVisible = false;
    }
    #endregion

    #region Update Skills Function
    private async Task UpdateSkills(int studentId)
    {
        var result = await _skillService.UpdateSkills(studentId, _Skills);
        isUpdateSectionVisible = false;
        await OnInitializedAsync();

    }
    #endregion

}
