<!-- Ændret af Jozsef-->
@using ElevPortalen.Pages
@using ElevPortalen.Services
@inherits LayoutComponentBase

<PageTitle>ElevPortalen</PageTitle>

<div class="page">
    <div class="sidebar bg-dark" style="@IconMenuCssClass">
        <NavMenu ShowIconMenu="ToggleIconMenu" />
    </div>

    <main class="">
        <article class="p-2">
            <CustomErrorBoundary @ref="errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="Exception">
                    <div class="alert bg-danger text-white alert-dismissible m-2">
                        <p>
                            Type: @Exception.GetType()
                        </p>
                        <p>
                            Message: @Exception.Message
                        </p>
                        <p>
                            Method: @Exception.TargetSite
                        </p>
                        <p>
                            Help link: @Exception.HelpLink
                        </p>

                        <button class="btn-close" data-bs-dismiss="alert" @onclick="() => errorBoundary.Recover()"></button>
                    </div>
                </ErrorContent>
            </CustomErrorBoundary>

        </article>
    </main>
</div>

@code {
    private CustomErrorBoundary errorBoundary = new CustomErrorBoundary();

    private bool _iconMenuActive { get; set; }
    private string? IconMenuCssClass => _iconMenuActive ? "width: 80px;" : null;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
    }
}