<!-- Lavet af Jozsef -->
@page "/registerprofile"

@using ElevPortalen.Models
@using ElevPortalen.Pages.AlertBox
@using ElevPortalen.Services
@using ElevPortalen.Data;
@using System.Text.Json
@using System.Threading

@inject DawaService dawaService
@inject ElevPortalenDataDbContext _context
@inject CompanyService _companyService
@inject StudentService _studentService
@inject SkillService _skillService
@inject ImageUploadService _imageUploadService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration Configuration
@inject NavigationManager NavManager

<PageTitle>Register</PageTitle>

<div class="container-fluid">

    <AuthorizeView Roles="Student">

        <Authorized>
            <div class="d-flex align-content-center justify-content-center">

                    <!-- Account details card-->
                    <div class="card mt-4 mb-4 col-xl-12">
                        <div class="card-header fw-bold text-white bg-dark">Registrer Kontooplysninger</div>
                        <div class="card-body text-white bg-dark">
                            <form>
                                <!-- Row -->
                                <div class="row gx-3 mb-3 mt-3">
                                    <!-- Title -->
                                    <div class="col-md-3">
                                        <label class="mb-1 fw-bold" for="title">Title</label>
                                        <input class="form-control" id="title" type="text"
                                               placeholder="f.eks. Datatekniker" @bind="_studentData.Title">
                                    </div>
                                    <!-- Name -->
                                    <div class="col-md-3">
                                        <label class="mb-1 fw-bold" for="firstname">Fornavn</label>
                                        <input class="form-control" id="firstname" type="text"
                                               placeholder="Fornavn" @bind="_studentData.FirstName">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="mb-1 fw-bold" for="middlename">Mellemnavn</label>
                                        <input class="form-control" id="middlename" type="text"
                                               placeholder="Mellemnavn (hvis du har)" @bind="_studentData.MiddleName">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="mb-1 fw-bold" for="flastname">Efternavn</label>
                                        <input class="form-control" id="lastname" type="text"
                                               placeholder="Efternavn" @bind="_studentData.LastName">
                                    </div>
                                </div>
                                <!-- Row -->
                                <div class="row gx-3 mb-2">
                                    <!--Email-->
                                    <div class="col-md-3">
                                        <label class="mb-1 fw-bold" for="Email">Email</label>
                                        <input class="form-control" id="Email" type="email"
                                               placeholder="example@example.com" @bind="_studentData.Email">
                                    </div>
                                    <!--Phone-->
                                    <div class="col-md-3">
                                        <label class="mb-1 fw-bold" for="inputPhone">Mobil</label>
                                        <input class="form-control" type="tel" id="inputPhone" name="phone"
                                               placeholder="8 cifre" @bind="_studentData.PhoneNumber" required>
                                    </div>
                                    <!-- address -->
                                    <div class="col-md-3">
                                        <label class="mb-1 fw-bold" for="inputaddress">Addresse</label>
                                        <input class="form-control" list="addressSuggestions" @bind="_studentData.Address" placeholder="Enter address"
                                               @oninput="UpdateDropdownWithDelay">
                                        <datalist id="addressSuggestions">
                                            @foreach (var item in address)
                                            {
                                                <!-- Option for each address suggestion -->
                                                <option value="@item.adresse.adresseringsvejnavn @item.adresse.husnr @item.adresse.etage @item.adresse.dør @item.adresse.postnr @item.adresse.postnrnavn">
                                                    <!-- Display street name and house number for each address suggestion -->
                                                    @item.adresse.adresseringsvejnavn @item.adresse.husnr @item.adresse.etage @item.adresse.dør @item.adresse.postnr @item.adresse.postnrnavn
                                                </option>
                                            }
                                        </datalist>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="mb-1 fw-bold" for="_speciality">Specialisering</label>
                                        <select class="form-select form-select-md" @bind="_studentData.Speciality" id="_speciality" aria-label="Region" required>
                                            <option disabled selected>Vælg dit speciale</option>
                                            <option value="It-Support">It-Supporter</option>
                                            <option value="Infrastrukture">Infrastruktur</option>
                                            <option value="Programmering">Programmering</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Row -->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="mb-1 fw-bold" for="_picture">Image</label>
                                    <InputFile OnChange="@UploadImage" class="form-control" multiple accept=".png,.jpg,.jpeg" />
                                    </div>
                                </div>

                                <!-- Accordion -->
                                <div class="accordion accordion-flush mb-3" id="accordionFlush">
                                    <!-- Accordion item 1 - Links -->
                                    <div class="accordion-item bg-dark">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Tilføj Social Links
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse bg-dark text-white" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
                                            <div class="accordion-body">
                                                <div class="row gx-3 mb-3">
                                                    <div class="col-md-3">
                                                        <label class="mb-1 fw-bold" for="FBook">Facebook</label>
                                                        <input class="form-control" id="FBook" type="text"
                                                               placeholder="www.facebook.com/yourprofile" @bind="_studentData.FacebookLink">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="mb-1 fw-bold" for="linkedin">LinkedIn</label>
                                                        <input class="form-control" id="linkedin" type="text"
                                                               placeholder="www.linkedin.com/in/yourProfile" @bind="_studentData.LinkedInLink">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="mb-1 fw-bold" for="Insta">Instagram</label>
                                                        <input class="form-control" id="Insta" type="text"
                                                               placeholder="www.instagram.com/yourProfileName" @bind="_studentData.InstagramLink">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="mb-1 fw-bold" for="Github">Github</label>
                                                        <input class="form-control" id="Github" type="text"
                                                               placeholder="www.github.com/yourProfileName" @bind="_studentData.GitHubLink">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Accordion item 2 - skills -->
                                    <div class="accordion-item bg-dark">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Tilføj Færdigheder
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse bg-dark text-white" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-md-3 mb-2">
                                                        <label class="mb-1 small form-label fw-bold" for="_Skills">Programmeringssprog</label>
                                                        <div class="row">
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.CSharp" /> C#
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Java" /> Java
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.DotNet" /> .Net
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Typescript" /> TypeScript
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Python" /> Python
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <div class="row">
                                                            <label class="mt-4">
                                                                <input type="checkbox" @bind="_Skills.PHP" /> PHP
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.CPlusPlus" /> C++
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.C" /> C
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Blazor" /> Blazor
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.JavaScript" /> JavaScript
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <label class="mb-1 small form-label fw-bold" for="_Skills">Web-udvikling</label>

                                                        <div class="row">
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Bootstrap" /> Bootstrap
                                                            </label>

                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.HTML" /> Html
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.CSS" /> CSS
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.SQL" /> SQL
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.NetWork" /> Network
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <label class="mb-1 small form-label fw-bold" for="_Skills">Andet</label>

                                                        <div class="row">
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.OfficePack" /> Office pakken
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.CloudComputing" /> Cloud technologies
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.VersionControl" /> Git / GitHub
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.Communikation" /> Kommunikation
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.ProblemSolving" /> Problemsolving
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" @bind="_Skills.TeamWorking" /> Team work
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Form Group (Description)-->
                                <div class="col-md-12 mb-3">
                                    <label for="Description" class="form-label">Beskrivelse</label>
                                    <textarea class="form-control" @bind="_studentData.Description" id="_description" rows="13"></textarea>
                                </div>

                            </form>

                            <button class="btn btn-success mt-2" @onclick="CreateStudentProfile">Gem</button>

                        </div>
                    </div>

            </div>
        </Authorized>

    </AuthorizeView>

    <AuthorizeView Roles="Company">

        <Authorized>
            <div class="container d-flex align-content-center justify-content-center">
                <div class="col-xl-12">
                    <br />
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header text-white bg-dark fw-bold">Registrer Kontooplysninger For Dit Firma</div>
                        <div class="card-body">
                            <form>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (Company Name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1 fw-bold" for="companyname">Firmanavn</label>
                                        <input class="form-control" id="companyname" type="text"
                                               placeholder="Firmanavn" @bind="_companyData.CompanyName">
                                    </div>
                                    <!-- Form Group (company address)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1 fw-bold" for="inputaddress">Addresse</label>
                                        <input class="form-control" list="addressSuggestions" @bind="_companyData.CompanyAddress" placeholder="Enter address" @oninput="UpdateDropdownWithDelay">
                                        <datalist id="addressSuggestions">
                                            @foreach (var item in address)
                                            {
                                                <!-- Option for each address suggestion -->
                                                <option value="@item.adresse.adresseringsvejnavn @item.adresse.husnr @item.adresse.etage @item.adresse.dør @item.adresse.postnr @item.adresse.postnrnavn">
                                                    <!-- Display street name and house number for each address suggestion -->
                                                    @item.adresse.adresseringsvejnavn @item.adresse.husnr @item.adresse.etage @item.adresse.dør @item.adresse.postnr @item.adresse.postnrnavn
                                                </option>
                                            }
                                        </datalist>
                                    </div>
                                </div>
                                <!-- Form Row        -->
                                <div class="row gx-3 mb-">
                                    <!-- Form Group (Region)-->
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1 fw-bold" for="_region">Din Region</label>
                                        <select class="form-select form-select-md" @bind="_companyData.Region" id="_region" aria-label="Region">
                                            <option selected disabled>Vælg region</option>
                                            <option value="Region Nordjylland">Region Nordjylland</option>
                                            <option value="Region Midtjylland">Region Midtjylland</option>
                                            <option value="Region Syddanmark">Region Syddanmark</option>
                                            <option value="Region Hovedstaden">Region Hovedstaden</option>
                                            <option value="Region Sjælland">Region Sjælland</option>
                                        </select>
                                    </div>
                                    <!-- Form Group (Email)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1 fw-bold" for="inputEmail">E-Mail Addresse</label>
                                        <input class="form-control" id="inputEmail" type="text"
                                               placeholder="Firma E-mail" @bind="_companyData.Email">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1 fw-bold" for="inputPhone">Phone Number</label>
                                        <input class="form-control" type="tel" id="inputPhone" name="phone"
                                               placeholder="8 cifre" @bind="_companyData.PhoneNumber" maxlength="8" pattern="[0-9]{8}" required>
                                    </div>
                                    <!-- webLink -->
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1 fw-bold" for="inputWebsite">Firma link</label>
                                        <input class="form-control" id="inputWebsite" type="text"
                                               placeholder="pattern: www.example.dk" @bind="_companyData.Link">
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (preferencesr)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1 fw-bold" for="_preferences">Preference</label>
                                        <select class="form-select form-select-md" @bind="_companyData.Preferences" id="_preferences"
                                                aria-label="Preferences">
                                            <option selected disabled>Vælg specialisering</option>
                                            <option value="It-Supporter">It-Supporter</option>
                                            <option value="Infrastructure">Infrastruktur</option>
                                            <option value="Programmer">Programmør</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1 fw-bold" for="_picture">Image</label>
                                        <InputFile OnChange="@UploadImage" class="form-control" multiple accept=".png,.jpg,.jpeg" />
                                    </div>
                                </div>
                                <!-- Form Group (Description)-->
                                <div class="col-md-12 mb-3">
                                    <label for="Description" class="form-label fw-bold">Beskrivelse</label>
                                    <textarea class="form-control" @bind="_companyData.Description" id="_description" rows="8"></textarea>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @bind="_companyData.IsHiring">
                                    <label class="form-check-label">
                                        Hiring Now
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" @bind="_companyData.IsVisible">
                                    <label class="form-check-label">
                                        Profile Visible
                                    </label>
                                </div>

                            </form>

                            <button class="btn btn-outline-success mt-2" @onclick="CreateCompanyProfile">Gem</button>

                        </div>
                    </div>
                </div>
            </div>
        </Authorized>

    </AuthorizeView>

    <AlertBox @ref="_alertBox" />

</div>

@code {

    #region fields

    private AuthenticationState? _authState;

    //Fileupload
    private string? _newFileName = "";

    //address lookup
    private string? searchTerm;
    private string? Message = "";

    //models
    private SkillModel _Skills = new SkillModel();
    private StudentModel _studentData = new StudentModel();
    private CompanyModel _companyData = new CompanyModel();
    private List<AddressModel> address = new List<AddressModel>();
    //Messagebox
    private AlertBox _alertBox = new AlertBox();

    //booleans
    private bool isAuthenticated = false;

    private CancellationTokenSource? cancellationTokenSource;
    #endregion

    #region OnInitialize
    protected override async Task OnInitializedAsync()
    {
        // Getting the user current authentication state.
        _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (_authState != null)
        {
            if (_authState.User.Identity?.IsAuthenticated == true)
            {
                isAuthenticated = true;
            }
            else
            {
                isAuthenticated = false;
            }
        }
    }
    #endregion

    #region Create Student Profile Function
    private async Task CreateStudentProfile()
    {
        try
        {
            _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

            if (_authState != null)
            {
                var user = _authState.User;

                if (user.Identity?.IsAuthenticated == true)
                {
                    // Retrieve the user's unique identifier (ID or GUID)
                    var userIdString = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

                    // Convert the string representation to a Guid
                    if (Guid.TryParse(userIdString, out Guid userId))
                    {
                        _studentData = new StudentModel
                            {
                                UserId = userId, // Set the UserId to the user's unique identifier
                                Title = _studentData.Title,
                                FirstName = _studentData.FirstName,
                                MiddleName = _studentData.MiddleName,
                                LastName = _studentData.LastName,
                                Email = _studentData.Email,
                                Address = _studentData.Address,
                                Description = _studentData.Description,
                                profileImage = _newFileName,
                                Speciality = _studentData.Speciality,
                                PhoneNumber = _studentData.PhoneNumber,
                                FacebookLink = _studentData.FacebookLink,
                                LinkedInLink = _studentData.LinkedInLink,
                                InstagramLink = _studentData.InstagramLink,
                                GitHubLink = _studentData.GitHubLink,
                                RegisteredDate = DateTime.Now,
                                UpdatedDate = DateTime.Now

                            };

                        var (message, success) = await _studentService.CreateStudent(_studentData); //create student data
                        if (success)
                        {
                            await CreateSkills(_studentData.StudentId); //add the student skills
                            NavManager.NavigateTo("/profile"); // return to profile
                        }
                        else
                        {
                            // Handle the exception and return an error message
                            _alertBox.SetMessage(true, message, 0, danger: true);
                        }
                    }
                    else
                    {
                        // Handle the exception and return an error message
                        _alertBox.SetMessage(true, "Error parsing GUID", 0, danger: true);
                    }
                }
            }

            // Default return statement if conditions are not met
            _alertBox.SetMessage(true, "Unexpected error occurred", 0, danger: true);
        }
        catch (Exception ex)
        {
            // Handle the exception and return an error message
            _alertBox.SetMessage(true, $"Error: {ex.Message}", 0, danger: true);
        }
    }
    #endregion

    #region Add Skills Function
    private async Task CreateSkills(int studentId)
    {
        var (message, success) = await _skillService.CreateSkills(studentId, _Skills);
        if (success)
        {
            _alertBox.SetMessage(true, message, 5000, success: true);
        }
        else
        {
            _alertBox.SetMessage(true, message, 10000, danger: true);
        }
    }
    #endregion

    #region Create Company Profile Function
    private async Task CreateCompanyProfile()
    {
        try
        {
            _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

            if (_authState != null && _authState.User != null)
            {
                var user = _authState.User;

                if (user.Identity?.IsAuthenticated == true)
                {
                    // Retrieve the user's unique identifier (ID or GUID)
                    var userIdString = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

                    // Convert the string representation to a Guid
                    if (Guid.TryParse(userIdString, out Guid userId))
                    {
                        _companyData = new CompanyModel
                            {
                                UserId = userId,
                                CompanyName = _companyData.CompanyName,
                                CompanyAddress = _companyData.CompanyAddress,
                                Region = _companyData.Region,
                                Email = _companyData.Email,
                                Link = _companyData.Link,
                                Preferences = _companyData.Preferences,
                                Description = _companyData.Description,
                                PhoneNumber = _companyData.PhoneNumber,
                                profileImage = _newFileName,
                                IsHiring = _companyData.IsHiring,
                                IsVisible = _companyData.IsVisible,
                                UpdatedDate = DateTime.Now,
                                RegisteredDate = DateTime.Now,
                            };

                        var (message, success) = await _companyService.CreateCompany(_companyData);
                        if (success)
                        {
                            NavManager.NavigateTo("/profile");
                        }
                        else
                        {
                            // Handle the exception and return an error message
                            _alertBox.SetMessage(true, message, 10000, danger: true);
                        }
                    }
                    else
                    {
                        // Handle the exception and return an error message
                        _alertBox.SetMessage(true, "Error parsing GUID", 10000, danger: true);
                    }
                }
            }

            // Default return statement if conditions are not met
            _alertBox.SetMessage(true, "Unexpected error occurred", 10000, danger: true);
        }
        catch (Exception? ex)
        {
            // Handle the exception and return an error message
            _alertBox.SetMessage(true, $"Error: {ex.Message}", 10000, danger: true);
        }
    }
    #endregion

    #region Method to update address suggestions with a delay
    private async Task UpdateDropdownWithDelay(ChangeEventArgs args)
    {
        searchTerm = args.Value?.ToString();

        <!-- Cancel the previous delay if any -->
        cancellationTokenSource?.Cancel();

        <!-- Create a new cancellation token for the delay -->
        cancellationTokenSource = new CancellationTokenSource();

        try
        {
            <!-- Delay for 300 milliseconds before fetching suggestions -->
            await Task.Delay(300, cancellationTokenSource.Token);
        }
        catch (TaskCanceledException)
        {
            <!-- Delay was canceled due to a new input change -->
            return;
        }

        <!-- Fetch and update address suggestions based on the searchTerm -->
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            searchTerm = char.ToUpper(searchTerm[0]) + searchTerm.Substring(1);
            var (addresses, errorMessage) = await dawaService.GetAddress(searchTerm);

            if (addresses != null)
            {
                address = addresses;
            }
            else
            {
                // Handle the error case, show a message to the user
                _alertBox.SetMessage(true, errorMessage, 10000, warning: true);
            }
        }
        else
        {
            // Handle the case where the search term is empty, show a message to the user
            _alertBox.SetMessage(true, "Please type your address.", 5000, warning: true);
            address = new List<AddressModel>();
        }

        <!-- Trigger a re-render to update the UI -->
        StateHasChanged();
    }
    #endregion

    #region Image upload via service
    private async Task UploadImage(InputFileChangeEventArgs e)
    {
        var (success, message) = await _imageUploadService.LoadFiles(e);
        if (!success)
        {
            //Handle error
            _alertBox.SetMessage(true, message, 0, danger:true);
        }
        else
        {
            // or set the returned message to the filename if success
            _newFileName = message;
        }
    }
    #endregion

}
